.chinesefarmer{
    text-align: right;
    
}

.quote{
    text-align: center;
  
}

p.AlanWatts{
    text-align: right;
}
#time{
    
    float:left;
    width:200px;
    height:80px;
    margin-left:190px;
}